<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      
   <h2 style="background-color:grey;">About me</h2>
    
      <hr>
    </div>
    <div class="row" style="text-align:center">
      
  
      <div class="col-md-12" style="text-align:center"><img src="assets/img/about.jpg" class="img-responsive" style="display:inline"></div>
 
     <div>
       <style>
img {
  border-radius: 50%;
}
</style>
</div> 
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
   
          <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.​..</p>
              <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a>
               </div>
      </div>
    </div>
  </div>
</div>

